{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
<div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ChildrenOfStaff edit</h3>
                    <a href="{{ path('childrenofstaff_index') }}" class="btn btn-info pull-right">Back to the list</a>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Employee Id</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.empId, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Name', 'Employee Id' : 'form-empId'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Period Of Service</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.periodOfService, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Period Of Service', 'id' : 'form-periodOfService'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Period Of Difficult School Service</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.periodOfDifficultSchoolService, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Period Of Difficult School Service', 'id' : 'form-periodOfDifficultSchoolService'} }) }}
                            </div>
                        </div>
                        <label class="control-label">Diffcult Service: </label>
                        <div class="form-group">
                            
                            <label class="col-sm-2 control-label">  From Year</label>
                            <div class="col-sm-9">
                                {{ form_widget(edit_form.diffFromYear, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Name', 'id' : 'form-diffFromYear'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">  To Year</label>
                            <div class="col-sm-9">
                                {{ form_widget(edit_form.diffToYear, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Name', 'id' : 'form-diffToYear'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">UnUtilized Leave</label>
                            <div class="col-sm-9">
                                {{ form_widget(edit_form.unUtilizedLeave, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Name', 'id' : 'form-unUtilizedLeave'} }) }}
                            </div>
                        </div>
                        {{ form_rest(edit_form) }}
                            {{ form_widget(edit_form) }}
                            <input type="submit" value="Edit" class="btn btn-info pull-right" />
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Delete" class="btn btn-danger">
                        {{ form_end(delete_form) }}

  
                        
                    </div><!-- /.box-body -->
                </form>
                <div class="box-footer">
                </div><!-- /.box-footer -->
              </div>
            </div>
        </div>
    </div> 
{% endblock %}
