{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
<div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Gardian Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Emp id</th>
                                <th>Period of service</th>
                                <th>Period of difficult school service</th>
                                <th>Difficult service from year</th>
                                <th>Difficult service to year</th>
                                <th>Unutilized leave</th>
                                <th>Id</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for childrenOfStaff in childrenOfStaffs %}
                            <tr>
                                <td><a href="{{ path('childrenofstaff_show', { 'id': childrenOfStaff['id'] }) }}">{{ childrenOfStaff['emp_id'] }}</a></td>
                                <td>{{ childrenOfStaff['period_of_service'] }}</td>
                                <td>{{ childrenOfStaff['period_of_difficult_school_service'] }}</td>
                                <td>{% if childrenOfStaff['diff_from_year'] %}{{ childrenOfStaff['diff_from_year']|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if childrenOfStaff['diff_to_year'] %}{{ childrenOfStaff['diff_to_year']|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if childrenOfStaff['un_utilized_leave'] %}{{ childrenOfStaff['un_utilized_leave']|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ childrenOfStaff['id'] }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('childrenofstaff_show', { 'id': childrenOfStaff['id'] }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('childrenofstaff_edit', { 'id': childrenOfStaff.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div><!-- /.box-body -->
                <div class="box-footer">
                </div><!-- /.box-footer -->
              </div>
            </div>
        </div>
    </div>
{% endblock %}
