<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grade 01 School Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset('public/css/header-second-bar.css')}}">
    <link rel="stylesheet" href="{{asset('public/css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{asset('public/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('public/css/bootstrap.min.css')}}">  
    <link rel="stylesheet" href="{{asset('public/css/AdminLTE.min.css')}}">
    <link rel="stylesheet" href="{{asset('public/css/simple-sidebar.css')}}">
            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <link rel="stylesheet" href="{{asset('public/css/mycss.css')}}">
</head>
<body>
    <header class="header-two-bars">
    <div class="header-first-bar">

        <div class="header-limiter">

            <h1><a href="#">Ministry Of <span>Education</span></a></h1>

            <nav>
                <a href="#" class="selected">Home</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
            </nav>
            
            <div class="dropdown pull-right">
                <p></p>
              <a class=" dropdown-toggle" type="button" data-toggle="dropdown">
            {% if  app.session.get('login') %}{{ app.session.get('login').getEmpNo() }}
                {% else %}Sign In
                 {% endif %}
              <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right" style="color:black;background-color:rgba(41,44,47,0.9);">
                {% if  app.session.get('login') %}
                <li><a href="{{ path('loggout') }}">loggout</a></li>
                {% else %}
                    <li><a href="{{ path('user_login') }}">Sign In</a></li>
                    <li><a href="{{ path('user_new') }}">Sign Up</a></li>
                 {% endif %}
                
              </ul>
            </div>
        </div>


    </div>
            
    <div class="header-second-bar">

        <div class="header-limiter">

            <nav>
                <a href="{{ path('applicant_index') }}"><i class="fa fa-file-text"></i> Gardian</a>
                <a href="{{ path('child_index') }}"><i class="fa fa-file-text"></i> Child</a>
                <a href="{{ path('school_index') }}"><i class="fa fa-file-text"></i>School</a>
                <a href="{{ path('childrenofstaff_index') }}"><i class="fa fa-file-text"></i> Childern of Staff</a>
                <a href="{{ path('childrenofotoeos_index') }}"><i class="fa fa-file-text"></i> Children of Oteoes</a>
                <a href="{{ path('user_new') }}"><i class="fa fa-file-text"></i> User Registration</a>
            </nav>

        </div>

    </div>

</header>
{% block body %}
{% endblock %}


</body>
</html>