{% extends 'base.html.twig' %}

{% block body %}
    <h1>ChildrenOfOtoeos</h1>
    <div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
            <div class="box box-info">
                <div class="box-header with-border">
                     <h3 class="box-title">childrenofotoeos Detail: {{ childrenOfOtoeo.id }}</h3>
                     <button  class="btn btn-info pull-right"><a href="{{ path('childrenofotoeos_index') }}">Back to the list</a></button>
                </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="col-md-8 table-hover record_properties">
                            <tbody>
                                <tr>
                                    <th>Lasttransferreceived</th>
                                    <td>{% if childrenOfOtoeo.lastTransferReceived %}{{ childrenOfOtoeo.lastTransferReceived|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Beforeaddresswrkplace</th>
                                    <td>{{ childrenOfOtoeo.beforeAddressWrkPlace }}</td>
                                </tr>
                                <tr>
                                    <th>Afteraddresswrkplace</th>
                                    <td>{{ childrenOfOtoeo.afterAddressWrkPlace }}</td>
                                </tr>
                                <tr>
                                    <th>Distance</th>
                                    <td>{{ childrenOfOtoeo.distance }}</td>
                                </tr>
                                <tr>
                                    <th>Noscladdmitted</th>
                                    <td>{{ childrenOfOtoeo.noSclAddmitted }}</td>
                                </tr>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ childrenOfOtoeo.id }}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                         <a href="{{ path('childrenofotoeos_edit', { 'id': childrenOfOtoeo.id }) }}" class="btn btn-info pull-right">Edit</a>
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Delete" class="btn btn-danger">
                        {{ form_end(delete_form) }}
                    </div><!-- /.box-footer -->
            </div>
            </div>
        </div>
    </div> 
{% endblock %}
