{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
    <div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit School details:{{school.id}}</h3>
                    <a href="{{ path('school_index') }}" class="btn btn-info pull-right">Back to the list</a> 
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.name, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Name', 'id' : 'form-name'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.address, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Address', 'id' : 'form-address'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total Students</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.totStudents, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Total Students', 'id' : 'form-totStudents'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total Vacancies</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.totVacancies, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Total Vacancies', 'id' : 'form-totVacancies'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Start Date</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.startDate, { 'attr' : { 'class' : 'form-control', 'id' : 'form-startDate'} }) }}
                            </div>
                        </div>

                        {{ form_start(edit_form) }}
                            {{ form_widget(edit_form) }}
                            <input  class="btn btn-info pull-right" type="submit" value="Edit" />
                        {{ form_end(edit_form) }}

                        {{ form_start(delete_form) }}
                            <input class="btn btn-danger" type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </div>
                    <div class="box-footer">
                        
                     </div>
                </form>
              </div>
        </div>
    </div>
</div>
    </ul>
{% endblock %}
