{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
    <div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
    <div class="box box-info">
        <div class="box-header with-border">
             <h3 class="box-title">School List</h3>
             <button type="submit" class="btn btn-info pull-right"><a href="{{ path('school_new') }}">Create a new entry</a></button>
        </div><!-- /.box-header -->
         <!-- form start -->
        <form class="form-horizontal">
        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Totstudents</th>
                        <th>Totvacancies</th>
                        <th>Startdate</th>
                        <th>Id</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for school in schools %}
                    <tr>
                        <td><a href="{{ path('school_show', { 'id': school.id }) }}">{{ school['name'] }}</a></td>
                        <td>{{ school['address'] }}</td>
                        <td>{{ school['tot_students'] }}</td>
                        <td>{{ school['tot_vacancies'] }}</td>
                        <td>{% if school['start_date'] %}{{ school['start_date']|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ school['id'] }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('school_show', { 'id': school['id'] }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('school_edit', { 'id': school['id'] }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- /.box-body -->
        <div class="box-footer">
        </div><!-- /.box-footer -->
        </form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
