{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
    <div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
    <div class="box box-info">
        <div class="box-header with-border">
             <h3 class="box-title">School List</h3>
             <a type="submit" class="btn btn-info pull-right" href="{{ path('school_new') }}">Create a new entry</a>
        </div><!-- /.box-header -->
         <!-- form start -->
        <form class="form-horizontal">
        <div class="box-body" id="ex6">
            <div class="form-group">
                    <div class="col-sm-4">
                        <fieldset class="controls">
                             <input id="search-filtering" class="form-control" placeholder="Type here to filter" type="text">
                        </fieldset>
                    </div>
            </div>
            <table class="mytable table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Totstudents</th>
                        <th>Totvacancies</th>
                        <th>Startdate</th>
                        <th>Id</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for school in schools %}
                    <tr class="instafilta-target">
                        <td><a href="{{ path('school_show', { 'id': school.id }) }}">{{ school['name'] }}</a></td>
                        <td>{{ school['address'] }}</td>
                        <td>{{ school['tot_students'] }}</td>
                        <td>{{ school['tot_vacancies'] }}</td>
                        <td>{% if school['start_date'] %}{{ school['start_date']|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ school['id'] }}</td>
                        <td>
                            <ul class="showedit">
                                <li>
                                    <a href="{{ path('school_show', { 'id': school['id'] }) }}"><i class="fa fa-clipboard">show</i></a>
                                </li>
                                <li>
                                    <a href="{{ path('school_edit', { 'id': school['id'] }) }}"><i class="fa fa-pencil-square-o">edit</i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- /.box-body -->
        <div class="box-footer">
        </div><!-- /.box-footer -->
        </form>
    </div>
    </div>
    </div>
    </div>

    <script src="{{asset('public/js/jquery.min.js')}}"></script>
    <script src="{{asset('public/js/instafilta.min.js')}}"></script>
    <script>
    $('#search-filtering').instaFilta({
        scope: '#ex6'
    });
    </script>


    <div class="container">
            <div class="form-group">
                <label for="single">Single</label>
                <input type="text" class="form-control" id="single" />
        </div>
            <div class="form-group">
                <label for="multi">Multi</label>
                <input type="text" class="form-control" id="multi" />
        </div>
    </div>
    <script src="{{asset('public/js/jquery-ui.min.js')}}"></script>
    <script src="{{asset('public/js/auto.js')}}"></script>
{% endblock %}
