{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Child Details</h3>
                    <a class="btn btn-info pull-right"  href="{{ path('child_new', { 'id': id }) }}">Add a Child</a>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <table class=" mytable table">
                        <thead>
                            <tr>
                                <th>Name in Full</th>
                                <th>Name in Intials</th>
                                <th>Sex</th>
                                <th>Religion</th>
                                <th>Medium of Learning</th>
                                <th>Date of Birth</th>
                                <th>Id</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for child in children %}
                            <tr>
                                <td><a href="{{ path('child_show', { 'id': child.id }) }}">{{ child.nameInFull }}</a></td>
                                <td>{{ child.nameInIntials }}</td>
                                <td>{{ child.sex }}</td>
                                <td>{{ child.religion }}</td>
                                {% if  child.mediumOfLearning == 1 %}
                                <td>Sinhala</td>
                                {% elseif child.mediumOfLearning == 2 %}
                                <td>English</td>
                                {% else %}
                                <td>Tamil</td>
                                {% endif %}
                                <td>{% if child.dob %}{{ child.dob|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ child.id }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('child_show', { 'id': child.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('child_edit', { 'id': child.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div><!-- /.box-body -->
                <div class="box-footer">
                <button class="btn btn-info pull-right"  value="Delete"><a href="{{ path('applicant_preferrence', { 'id': id }) }}">Continue</a></button>
                </div><!-- /.box-footer -->
              </div>
            </div>
        </div>
    </div>

    
{% endblock %}
