{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
<div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Child Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <table class="mytable table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name in full</th>
                                <th>Name in intials</th>
                                <th>Sex</th>
                                <th>Religion</th>
                                <th>Medium of learning</th>
                                <th>Date of Birth</th>
                                <th>View Details</th>
                                {% if  app.session.get('login') %}
                                {% if app.session.get('login').getRoleId() == 1 or app.session.get('login').getRoleId() == 1 %}
                                <th>Actions</th>
                                {% endif %}
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for child in children %}
                            <tr>
                                <td>{{ child['id'] }}</td>
                                <td><a href="{{ path('child_show', { 'id': child['id'] }) }}">{{ child['name_in_full'] }}</a></td>
                                <td>{{ child['name_in_intials'] }}</td>
                                <td>{{ child['sex'] }}</td>
                                <td>{{ child['religion'] }}</td>
                                <td>{{ child['medium_of_learning'] }}</td>
                                <td>{% if child['dob'] %}{{ child['dob']|date('Y-m-d') }}{% endif %}</td>
                                <td><a href="{{ path('child_showall', { 'id': child['id'] }) }}">View Details</a></td>
                                {% if  app.session.get('login') %}
                                {% if app.session.get('login').getRoleId() == 1 or app.session.get('login').getRoleId() == 1 %}
                                <td>
                                    <ul class="showedit">
                                        <li>
                                            <a href="{{ path('child_show', { 'id': child['id'] }) }}"><i class="fa fa-clipboard">show</i></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('child_edit', { 'id': child['id'] }) }}"><i class="fa fa-pencil-square-o">edit</i></a>
                                        </li>
                                    </ul>
                                </td>
                                {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div><!-- /.box-body -->
                <div class="box-footer">
                </div><!-- /.box-footer -->
              </div>
            </div>
        </div>
    </div>

    
{% endblock %}
