{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Nameinfull</th>
                <td>{{ user.nameInFull }}</td>
            </tr>
            <tr>
                <th>Nameinintials</th>
                <td>{{ user.nameInIntials }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.userName }}</td>
            </tr>
            <tr>
                <th>Empno</th>
                <td>{{ user.empNo }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Remembertoken</th>
                <td>{{ user.rememberToken }}</td>
            </tr>
            <tr>
                <th>Confirmationcode</th>
                <td>{{ user.confirmationCode }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ user.sex }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{% if user.dob %}{{ user.dob|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nic</th>
                <td>{{ user.nic }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
