{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Gardian Details</h3>
                    <a class="btn btn-info pull-right" href="{{ path('applicant_new') }}">Create a new Applicant</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table >
                        <tbody>

                            <tr>
                                <th>Id</th>
                                <td>{{ applicant.id }}</td>
                            </tr> 
                            <tr>
                                <th>Name in Full</th>
                                <td>{{ applicant.nameInFull }}</td>
                            </tr>
                            <tr>
                                <th>Name in Initials</th>
                                <td>{{ applicant.nameInInitials }}</td>
                            </tr>
                            <tr>
                                <th>Permanent Address</th>
                                <td>{{ applicant.permanentAddress }}</td>
                            </tr>
                            <tr>
                                <th>Grama Niladari Divion</th>
                                <td>{{ applicant.gramaNiladariDivion }}</td>
                            </tr>
                            <tr>
                                <th>Divsional Scretary Area</th>
                                <td>{{ applicant.divsionalScretaryArea }}</td>
                            </tr>
                            <tr>
                                <th>District</th>
                                <td>{{ applicant.district }}</td>
                            </tr>
                            <tr>
                                <th>Doate of Birth</th>
                                <td>{% if applicant.dob %}{{ applicant.dob|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Nic</th>
                                <td>{{ applicant.nic }}</td>
                            </tr>
                            <tr>
                                <th>Wethersrilankan</th>
                                <td>{% if applicant.wetherSrilankan %}Yes{% else %}No{% endif %}</td>
                            </tr>
                            <tr>
                                <th>No Years In Electoral Register</th>
                                <td>{{ applicant.noYearsInElectoralRegister }}</td>
                            </tr>
                            <tr>
                                <th>No Schools Located Closer</th>
                                <td>{{ applicant.noSchoolsLocatedCloser }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">                     
                    <a type="submit" class="btn btn-info pull-right" href="{{ path('applicant_edit', { 'id': applicant.id }) }}">Edit</a>
                    {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-danger" stlye="margin-right:12px" value="Delete">
                    {{ form_end(delete_form) }}

                </div><!-- /.box-footer -->
              </div>
            </div>
        </div>
    </div>

{% endblock %}
