{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
    <div class="box box-info">
        <div class="box-header with-border">
             <h3 class="box-title">previlege List</h3>
             <a type="submit" class="btn btn-info pull-right" href="{{ path('previlege_new') }}">Create a new entry</a>
        </div><!-- /.box-header -->
        <div class="box-body" id="ex6">
             <div class="form-group">
                    <div class="col-sm-4">
                        <fieldset class="controls">
                             <input id="search-filtering" class="form-control" placeholder="Type here to filter" type="text">
                        </fieldset>
                    </div>
            </div></br></br>
            <table class="mytable table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Previlege</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for previlege in previleges %}
                    <tr class="instafilta-target">
                        <td>{{ previlege['id'] }}</td>
                        <td>{{ previlege['previlege'] }}</td>
                        <td>{{ previlege['description'] }}</td>

                        
                        <td>
                            <ul class="showedit">
                                <li>
                                    <a href="{{ path('previlege_show', { 'id': previlege['id'] }) }}"><i class="fa fa-clipboard">show</i></a>
                                </li>
                                <li>
                                    <a href="{{ path('previlege_edit', { 'id': previlege['id'] }) }}"><i class="fa fa-pencil-square-o">edit</i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- /.box-body -->
        <div class="box-footer">
        </div><!-- /.box-footer -->
    </div>
    </div>
    </div>
    </div>

     <script src="{{asset('public/js/jquery.min.js')}}"></script>
    <script src="{{asset('public/js/instafilta.min.js')}}"></script>
    <script>
    $('#search-filtering').instaFilta({
        scope: '#ex6'
    });
    </script>
{% endblock %}
